# Common Config file for all loki targets.
# Author: Sankalp Singh Bais (bash.sankalp@gmail.com)
# References :
# https://raw.githubusercontent.com/grafana/loki/refs/heads/main/production/docker/config/loki.yaml
# https://raw.githubusercontent.com/grafana/loki/refs/heads/main/cmd/loki/loki-docker-config.yaml
# https://grafana.com/docs/loki/latest/configure/
# https://grafana.com/docs/loki/latest/get-started/components/
# https://grafana.com/docs/loki/latest/configure/storage/


auth_enabled: false

# https://grafana.com/docs/loki/latest/configure/#server
server: # server configuration
  # http_listen_address: 0.0.0.0 # Dont uncomment if using docker compose SSD mode.
  # grpc_listen_address: 0.0.0.0

  http_listen_port: 3100
  grpc_listen_port: 9095
  log_level: warn

# https://grafana.com/docs/loki/latest/configure/#common
common:
  # instance_addr: 0.0.0.0 # let it autodetect
  compactor_address: http://loki-backend:3100 # change if running compactor separately
  path_prefix: /loki
  replication_factor: 1
  storage:
    filesystem:  # can be set to filesystem, s3, gcs, azure
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules
  ring: #This is how loki discovers peers;
    kvstore:
      # store: inmemory # inmemory wont be shared accorss containers and will cause failure in SSD method
      store: memberlist # Configured below


# https://grafana.com/docs/loki/latest/configure/#memberlist
memberlist: # Configuring memberlist
  join_members:
    - "loki-backend"
    - "loki-read"
    - "loki-write"
  bind_addr:
    - 0.0.0.0
  bind_port: 7946
  gossip_interval: 2s


# https://grafana.com/docs/loki/latest/configure/#schema_config
# https://grafana.com/docs/loki/latest/configure/#period_config
schema_config: # Defines how logs are stored and indexed
  configs:
    - from: 2022-08-07
      store: tsdb
      object_store: filesystem  # storage for chunks
      schema: v13
      index:
        prefix: index_
        period: 24h # must be 24 hours


# https://grafana.com/docs/loki/latest/configure/#compactor
compactor: # Manages log retention and index compaction. Preferably run a single instance of this.
  retention_enabled: true
  working_directory: /loki/retention
  compaction_interval: 10m
  retention_delete_delay: 2h
  retention_delete_worker_count: 150
  delete_request_store: filesystem

analytics:
  reporting_enabled: false

####### Other confiuration options #######
# limits_config: # sets operational limits to prevent overload and manager resources
# https://grafana.com/docs/loki/latest/configure/#limits_config
